@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");

:root {
    --cor-de-fundo: #D3D3D3;
    --branco: #FFFFFF;
    --laranja: #FFA500;
    --laranja-degrade: linear-gradient(97.54deg, #FFA500 35.49%, #e69500 165.37%);
    --fonte-principal: "Poppins";
    --cinza: #949494;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
